.card {
    border-radius: 6px;
    padding: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-title {
    margin-bottom: 10px;
}

.card-date {
    color: #aaaaaa;
    font-size: 12px;
}

.card-description {
    margin-bottom: 10px;
}

.img-figure {
    width: 100%;
}

.card-btn {
    margin-top: 10px;
}

.continue-btn{
    padding: 6px 8px;
}

.card-btn a {
    text-decoration: none;
    color: blue;
}